@import 'colors';

// TODO: 分割整理

.layout {
  height: 100%;
}

.chatSidebar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 18rem;
  max-width: calc(1680px / 4);
  height: 100%;

  background: $surface-color;

  border-right: 1px solid #303133;

  .sidebarHead {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    background: $surface-color;
    min-height: 3.5rem;

    .menuButton {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $secondary-text-color;

      width: 2.5rem;
      height: 2.5rem;
      border: none;

      &:hover {
        background-color: $light-secondary-text-color;
      }

      .menuIcon {
        font-size: 18px;
      }
    }

    .searchBox {
      position: relative;
      width: 100%;
      margin-left: .4375rem;
      margin-right: .4375rem;
      overflow: hidden;
      --border-radius: 22px;
      border-radius: var(--border-radius);

      .searchInput {
        --border-width: 1px;
        --height: 42px;
        background-color: $input-search-background-color;
        padding: 0 calc(var(--height) + 3px - var(--border-width));
        height: var(--height);
        min-height: var(--height) !important;
        max-height: var(--height) !important;
        border-color: $input-search-border-color;
        line-height: var(--height);
        border-radius: var(--border-radius);
        font-size: 16px;

        &::-webkit-input-placeholder {
          color: $secondary-text-color !important;
          font-size: 16px;
        }
      }

      .searchIcon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        font-size: 24px;
        color: $secondary-text-color;
        opacity: .6;
        line-height: 1;
        z-index: 1;

        width: 24px;
        height: 24px;
        left: .8125rem;
        pointer-events: none;
      }
    }
  }

  .sidebarContent {
    .foldersTabs {
      --menu-size: 3rem;
      --scrollable-size: var(--menu-size);
      height: var(--scrollable-size);
      z-index: 1;
      background-color: $surface-color;
      position: relative;
      top: unset;
    }

    .tabsContainer {
      display: grid;
    }
  }
}

.chatContainer {
}
