$body-background-color: #ffffff;
$background-color-true: #f4f4f5;
$background-color: #ffffff;
$border-color: #dfe1e5;
$surface-color: #ffffff;
$scrollbar-color: rgba(0, 0, 0, 0.2);
$input-search-background-color: #ffffff;
$input-search-border-color: #dfe1e5;
$primary-color: #3390ec;
$light-primary-color: rgba(51, 144, 236, 0.08);
$dark-primary-color: #157ce1;
$primary-text-color: #000000;
$secondary-color: #c4c9cc;
$secondary-text-color: #707579;
$light-secondary-text-color: rgba(112, 117, 121, 0.08);
$danger-color: #df3f40;
$light-danger-color: rgba(223, 63, 64, 0.08);
$avatar-online-color: #0ac630;
//$avatar-color-top: var($peer-avatar-blue-top);
//$avatar-color-bottom: var($peer-avatar-blue-bottom);
$chatlist-status-color: var($avatar-online-color);
$chatlist-pinned-color: #a2abb2;
$badge-text-color: #ffffff;
$link-color: #00488f;
$ripple-color: rgba(0, 0, 0, 0.08);
$poll-circle-color: var($border-color);
$message-background-color: var($surface-color);
$message-checkbox-color: #61c642;
$message-checkbox-border-color: #ffffff;
$message-secondary-color: var($secondary-color);
$message-out-background-color: #eeffde;
$light-message-out-background-color: rgba(238, 255, 222, 0.08);
$dark-message-out-background-color: #d9ffb5;
$message-out-link-color: var($link-color);
$message-out-primary-color: #4fae4e;
$message-out-status-color: var($message-out-primary-color);
$message-out-audio-play-button-color: #ffffff;
