@import "colors";

.box {
  margin: 20px;
}

.layout {
  display: flex;
  height: 100%;
}

button {
  background: $background-color;
}

/*
.scroll-box {
  position: relative;
  height: 100%;
}

.scrollable {
  position: absolute;
  width: 100%;
  max-height: 100%;
}

.scrollable-x {
  overflow-x: auto;
}

.scrollable-y {
  overflow-y: auto;
}
*/
