@import "/src/styles/colors";

.bubble {
  display: flex;
  //min-width: 80px;
  //min-height: 80px;
  margin: 8px 0;

  .message {
    margin-left: 8px;
    padding: 8px;
    border-radius: 8px;
    background: #ffffff;

    box-shadow: 0 0 1px $secondary-text-color;
  }
}
