.bubble {
  display: flex;
  max-width: 45%;
  margin: 8px 0;

  .userAvatar {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .message {
    min-width: 100px;
    max-width: 90%;
    margin-left: 8px;
    padding: 8px;
    border-radius: 8px;
    background: #ffffff;

    box-shadow: 0 0 1px var(--secondary-text-color);

    span {
      display: block;
    }

    .username {
      margin-bottom: 2px;
    }

    .content {
      margin-bottom: 6px;
      text-align: justify;
      white-space: break-spaces;
      word-break: break-all;
    }

    .timestamp {
      font-size: 12px;
      float: right;
      //margin-bottom: 1px;
      color: var(--secondary-text-color);
    }
  }
}
