.rooms {
  display: flex;
  flex-direction: column;
  list-style: none;

  .room {
    display: flex;
    overflow: hidden;
    align-items: center;
    min-height: 60px;
    padding: 0 6px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 16px;

    &:hover {
      background: var(--light-secondary-text-color);
    }

    .roomAvatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .caption {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-wrap: nowrap;
      width: 0;
      margin-left: 1rem;

      p {
        overflow: hidden;

        margin: unset;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .roomName {
        font-weight: bold;
      }

      .lastMessage {
        margin-top: 6px;
        color: var(--secondary-text-color);

        // span {
        //   color: $primary-text-color;
        // }
      }
    }
  }
}
